@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css";
@import url(../font-awesome/css/fontawesome.min.css);
@import url(../font-awesome/css/solid.min.css);
.jimu-widget-marketPlanning {
  /*Others styles*/ }
  .jimu-widget-marketPlanning .textSubTitle {
    margin-left: 20px;
    display: inline;
    line-height: 42px; }
  .jimu-widget-marketPlanning .hidden {
    display: none !important;
    visibility: hidden !important; }
  .jimu-widget-marketPlanning .jimu-btn {
    min-width: 40px; }
  .jimu-widget-marketPlanning .floatRight {
    float: right; }
  .jimu-widget-marketPlanning .margin-bottom {
    margin-bottom: 10px; }
  .jimu-widget-marketPlanning .margin-top-20 {
    margin-top: 20px; }
  .jimu-widget-marketPlanning .arcgisSearch .searchMenu {
    z-index: 10000; }
  .jimu-widget-marketPlanning .jimu-r-row {
    overflow: inherit; }
  .jimu-widget-marketPlanning .helpIcon {
    background-image: url(../images/ago_sprite.png);
    background-position: -64px -66px;
    background-size: auto;
    width: 15px;
    height: 15px;
    display: inline-block; }
  .jimu-widget-marketPlanning .margin-check {
    margin-top: 10px; }
  .jimu-widget-marketPlanning .margin-top {
    margin-top: 10px; }
  .jimu-widget-marketPlanning .margin-check label {
    margin-left: 5px;
    vertical-align: middle; }
  .jimu-widget-marketPlanning .btnCalculate {
    margin-top: 10px; }
  .jimu-widget-marketPlanning .rowCalculate {
    text-align: center; }
  .jimu-widget-marketPlanning .dynamicRow {
    display: inline-table; }
  .jimu-widget-marketPlanning .loading-gif {
    position: absolute;
    background-image: url(../images/predefined_loading_4.gif);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    left: 50%;
    top: 16px;
    transform: translate(-50%, -50%); }
  .jimu-widget-marketPlanning .msgCalculate {
    line-height: 30px;
    font-weight: bold; }
  .jimu-widget-marketPlanning .padding-top {
    padding-top: 10px; }
  .jimu-widget-marketPlanning .width-check {
    width: 97%; }
  .jimu-widget-marketPlanning .padding-top-20 {
    padding-top: 20px; }
  .jimu-widget-marketPlanning .center {
    text-align: center; }
  .jimu-widget-marketPlanning .estiloResultPpal {
    font-weight: bolder;
    margin-top: 20px; }
  .jimu-widget-marketPlanning .cabeceraColum {
    text-align: left;
    text-decoration: underline; }
  .jimu-widget-marketPlanning .tableMak, .jimu-widget-marketPlanning th, .jimu-widget-marketPlanning td {
    border: 0px solid black;
    border-collapse: collapse;
    padding: 5px; }
  .jimu-widget-marketPlanning .tableMak th {
    font-weight: bold !important; }
  .jimu-widget-marketPlanning .tableMak {
    margin-bottom: 20px; }
  .jimu-widget-marketPlanning .needsValidation .form-header {
    margin-top: 10px;
    margin-bottom: 2px; }
  .jimu-widget-marketPlanning .needsValidation input, .jimu-widget-marketPlanning .needsValidation select {
    width: 100%; }
  .jimu-widget-marketPlanning #accordion .panel-heading {
    padding: 0; }
  .jimu-widget-marketPlanning #accordion .panel-title > a {
    display: block;
    padding: 0.4em 0.6em;
    outline: none;
    font-weight: bold;
    text-decoration: none; }
  .jimu-widget-marketPlanning .form-header {
    font-weight: bolder;
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .jimu-widget-marketPlanning .form-select {
    width: 100%; }
  .jimu-widget-marketPlanning .row {
    margin-top: 10px;
    margin-bottom: 10px; }
  .jimu-widget-marketPlanning .nav-tabs {
    margin-bottom: 15px; }
  .jimu-widget-marketPlanning .search-description-text {
    font-style: italic;
    font-weight: 100;
    margin-top: 10px !important; }
  .jimu-widget-marketPlanning .jimu-widget {
    overflow-x: hidden; }
  .jimu-widget-marketPlanning .form-col {
    margin-bottom: 15px; }
  .jimu-widget-marketPlanning .form-col input {
    width: 100%; }
  .jimu-widget-marketPlanning i.fa.fa-info-circle {
    float: right; }
  .jimu-widget-marketPlanning .glyphicon {
    z-index: 100; }
  .jimu-widget-marketPlanning .col-xs-6 {
    height: 100%; }
  .jimu-widget-marketPlanning .chart-row {
    margin-right: 10px !important;
    margin-left: 10px !important; }
  .jimu-widget-marketPlanning .tab-content > .tab-pane {
    min-height: 300px; }
  .jimu-widget-marketPlanning .summary {
    min-height: 140px;
    border: 1px inset gray;
    overflow: hidden; }
  .jimu-widget-marketPlanning #summary {
    margin-bottom: 15px; }
  .jimu-widget-marketPlanning .vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; }
  .jimu-widget-marketPlanning .btn {
    white-space: normal !important; }

.map .tooltip {
  width: 300px; }

.claro .dijitSelect .dijitArrowButton {
  width: 20px !important; }

/*# sourceMappingURL=style.css.map */