.generate-rings-setting {
  table{
    width: 100%;

    td{
      padding: 4px;
    }
  }

  input {
    width: 100%;
  }  

  /*.colorPickerEditor*/
  .colorPickerEditor {
    .jimu-color-picker {
      display: inline-block;
      width: 30px;
      height: 30px;
    }

    .dijitSpinner.dijitNumberTextBox.dijitValidationTextBox {
      width: 75px;
      height: 30px;
    }

    .trans {
      font-family: "Avenir Light";
      font-size: 12px;
      padding: 0 10px 0 20px;
      letter-spacing: 0.33px;
    }
  }


  .dijitSliderImageHandleH {
    top: -10px;
    width: 20px;
    height: 20px;
  }

  .dijitSliderImageHandle.dijitSliderImageHandleH {
    background-image: url("images/sliderball.svg");
    background-position: 0 0;
  }

  .dijitSliderThumbHover {
    background-image: url("images/sliderball.svg");
    background-position: 0 0;
  }

  /*left*/
  .dijitSlider .dijitSliderProgressBarH,
  .dijitSlider .dijitSliderLeftBumper {
    border-color: #000;
    background-color: #000;
    background-image: -webkit-linear-gradient(top, #000 0px, #000 1px, rgba(255, 255, 255, 0) 2px);
    background-image: -o-linear-gradient(top, #000 0px, #000 1px, rgba(255, 255, 255, 0) 2px);
    background-image: linear-gradient(top, #000 0px, #000 1px, rgba(255, 255, 255, 0) 2px);
  }

  .dijitSlider .dijitSliderRemainingBarH,
  .dijitSlider .dijitSliderRightBumper {
    border-color: #d7d7d7;
    background-color: #d7d7d7;
  }

  .sliderbar {
    width: 80px;
  }
}
